<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, dolor. Animi quos harum nesciunt illum veniam eos asperiores impedit rem quae nobis voluptatibus incidunt unde debitis, aliquam expedita cupiditate totam?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, dolor. Animi quos harum nesciunt illum veniam eos asperiores impedit rem quae nobis voluptatibus incidunt unde debitis, aliquam expedita cupiditate totam?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, dolor. Animi quos harum nesciunt illum veniam eos asperiores impedit rem quae nobis voluptatibus incidunt unde debitis, aliquam expedita cupiditate totam?</p>
    </div>

    <%- include('./partials/footer.ejs') %>

</body>
</html>
